    *{
        padding: 0px; 
        margin: 0px;
        
    }
    
    body{
        background-image: linear-gradient(to bottom right, rgb(206, 111, 182), rgb(115, 153, 235));

    }

    .filme{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
    
    }
    .banana{
        color:rgb(9, 18, 49);
        
    }
    #morango{
        color:rgb(29, 9, 39);
        
    }
    #bergamota{
        color:rgb(41, 9, 41);
        
    }
    
    
    form{
        margin-top: 1px;
    }
    